html {
    margin: 0px;
    padding: 0px;
}

#taskbar {
    position: absolute;
    width: 50vh;
    height: 5vh;
    top: 90%;
    left: 50%;
    -ms-transform: translateX(-50%);
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, -50%);
    z-index: 10;

    border: 5px solid rgb(0, 0, 0);

    display: flex;
    justify-content: center;
}

.taskbutton {
    width: 5vh;
    height: 5vh;
    border: 1px solid rgb(165, 154, 170);
}
.taskbutton:hover {
    background-color: rgba(177, 219, 255, 0.534);
}
.activetaskbutton {
    color: red;
}

.window {
    background-color: rgb(255, 255, 255);
    border: 5px solid rgb(0, 0, 0);
    z-index: 5;
    position: absolute;
}

.titlebar {
    top: 0px;
    width: 100%;
    height: 2vh;
    background-color: rgb(99, 75, 122);
    display: flex;
    justify-content: right;
}
.activetitlebar {
    background-color: blueviolet;
}

.closebutton {
    height: 100%;
    aspect-ratio: 1 / 1;
    background-color: rgb(155, 33, 33);
}

.pagecontent {
    overflow: auto;
    height: max-content;
}

#browserwindow {
    left: 20vw;
    top: 20vh;
    width: 50vw;
    height: 30vw;
}

#chatwindow {
    width: 30vh;
    height: 50vh;
    left: 10vw;
    top: 10vh;
}

#settingswindow {
    width: 10vh;
    height: 10vh;
    left: 90vw;
    top: 80vh;
}

body {
    margin: 0;
    min-height: 100vh;
    background-color: aqua;
}

#desktop {
    width: 100%;
    height: 100%;
    background-color: aqua;
}